name: Auto B Analysis

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run analysis
        run: |
          python analiz.py

      - name: Commit and push
        run: |
          git config --global user.name "github-bot"
          git config --global user.email "bot@github.com"
          git add .
          git commit -m "Auto update" || echo "No changes"
          git push
